/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.heading{
    display: flex;
    justify-content: start;
}
h1{

    font-style: initial;
    font-family: fantasy;
    font-size: 2em;
    border-bottom  : 2px solid red;
    border-right:  2px solid red ;  
    box-shadow: 0 10px 20px;
    height: auto;
    width: 400px;
    text-align: center;
}




img{
    width: 300px;
    height: 250px;
    margin: 10px;
} */


.flexbox-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    
}
.flex-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
 .flex-img img{
    width: 250px;
    height: auto;
   
}

.flex-heading{
    display: flex;
    width: 30%;
    min-width: 200px;
}

.flexbox-container h1{
    font-size: 2em;
    font-family: fantasy;
    letter-spacing: 2px;
    width: 400px;
    border-bottom: 2px solid pink;
    text-align: center;
    border-right: 2px solid pink;
    box-shadow: 0px 5px 10px gray;
    
}


 /* .flex-heading {
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
 }

 .flex-heading h1 {
    
     width: 400px;
 }
 .flex-img img{
    display: inherit;
    width: 300px;
    height: 250px;
    margin: 10px;
} */
